// out: style.css, sourcemap: false, compress: true
@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@color-white:#FFF;
@color-black:#000;
@color-font:#666;
@color-sub:#FF7234;
@color-main:#B24312;
@color-master:#00B29C;
@color-line:@color-sub;


//reset
body{font-family: 'Kanit','Noto Sans KR',sans-serif;}
body,html,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,p{margin:0; padding:0;}
ul,ol,li{list-style:none;}
img{border:0; vertical-align: top;}
input{vertical-align: middle;}
a{
  text-decoration: none;
  color:@color-font;
}

//layout
#header{padding:20px 50px;
  outline:1px #F00 solid;
  text-align: center;
  background-color:@color-master;
  h1{
    font-size:30px;
    font-weight: 300;
    border-bottom:2px @color-white solid;
    padding-bottom:5px;
    display:inline-block;
    text-transform:uppercase;
    a{
      color:@color-white;
      span{
        font-size:12px;
        display:block;
      }
    }
  }
  .blogMenu{
      font-size:0;
      li{
          font-size:14px;
          margin:0 5px;
          display: inline-block;
          a{
             color:@color-white;

          }
      }
  }

}
#container{
  width: 990px;
  margin:20px auto 0;
  border:1px #F00 solid;
  .entry{
    .titleWrap{
      margin-bottom:30px;
      h2 a{
        font-weight: 300;
        border-bottom:2px @color-main solid;
      }
    }
    .tagTrail{
      border:1px @color-sub solid;
      border-radius:3px;
      margin:35px 0 0;
      padding:10px 20px;
      position:relative;
      .tagText{
        border-radius:3px 3px 0 0 ;
        margin-left:20px;
        position:absolute;
        left:0;
        top:-30px;
        height:30px;
        padding:0 15px;
        background-color: @color-sub;
        color:@color-white;
      }
      a{
       font-size:12px;
       color:@color-white;
       background-color:@color-main;
       padding:0 10px;
       border-radius:3px;
      }
    }
    .comment{
        display: block;
        margin-top:30px;
      .commentList{
        border:1px #F00 solid;
        >ol>li{
          margin:20px 0;
          min-height:56px
        }
        .image{
          display:block;
          width:50px;
          height:50px;
          border-radius:3px;
          border:3px @color-master solid;
          overflow:hidden;
          float:left;
          margin-right:10px;
          img{
            width:100%;
            height: 100%;
          }
        }
        .name{
            font-size:11px;
            color:@color-font;
           }
         .date {
             font-size:11px;
             color:@color-sub;
             padding:0 10px;
            }
        .control{
            float:right;
            font-size: 12px;
             a {
              color:@color-white;
              background-color:@color-sub;
              padding:0 5px;
              margin: 0 5px;
              border-radius:3px;
              .write {
              background-color:@color-main;
              }
             }
           }
          }
        .commentWrite {
            overflow: hidden;
            textarea {
                width:97%;
                border:1px solid @color-sub;
                border-radius:3px;
                padding:1%;
                margin-bottom: 10px;
            .comment-btn {
            	height:30px;
            	line-height:30px;
            	padding:0 15px;
            	background-color:@color-main;
            	border:0 none;
            	border-radius:3px;
            	color:#FFF;
            	float:right
                }
             }
         }
    }
}




//
