@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Raleway:200,400,600,700);

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,
ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video{margin:0;padding:0;border:0;font-weight:inherit;vertical-align:top;}
ul,ol,dl{list-style:none;}

body,html{width:100%;height:100%;}
body{margin:0;padding:0;font-size:15px;font-family:'Malgun Gothic','Raleway',sans-serif;color:#646464;text-align:center;background:#fff;}
body *{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
body a{color:#646464;text-decoration:none;cursor:pointer;}
body a:hover,body a:active{color:#ec008c;}
* {-webkit-text-size-adjust:none;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
h1{font-size:3.3em;}
h2{font-size:1.0em;}
h3{font-size:1.2em;}
h4{font-size:1em;}
h5{font-size:1em;}
h6{font-size:1em;}
.light{font-weight:200;}
.normal{font-weight:400;}
.sbold{font-weight:600;}
.bold{font-weight:700;}
.underline{text-decoration:underline;}
.uppercase{text-transform:uppercas;}
.txt_statis{font-family:'Raleway',sans-serif;font-weight:400;font-style:italic;letter-spacing:1px;}
.black{color:#141414;}
.align.left,.txt.left{text-align:left;}
.align.right,.txt.right{text-align:right;}
.align.center,.txt.center{text-align:center;}
.align.justify,.txt.justify{text-align:justify;}
p{font-size:1em; line-height:1.7em;}
small{font-size:.9em;}
input,textarea { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }

a,.reply_write input.submit,.section_1, .section_2,.section_2 .sidebox form input,.fixed_img_col li,.fixed_img_col .thumb img,.fixed_img_col .thumb #str,.fixed_txt_col a:hover strong,.comment_list ul .commentLi:hover .control,
#header .head_top,.section_1 #article blockquote { -webkit-transition:all .5s ease; -moz-transition:all .5s ease; -ms-transition:all .5s ease; -o-transition:all .5s ease; transition:all .5s ease; }

#wrap		{ overflow:hidden; width:1050px; margin:0 auto; text-align:left; }
#header		{ position:relative; z-index:1000; display:block; width:100%; margin:0 0 50px; padding:60px 0 0; background-color:#282828; text-align:center; }

#header nav      { position:relative; display:block; width:1010px; height:90px; margin:0 auto; padding:0 20px; }
#header nav h1   { position:absolute; top:0; left:0; z-index:100; display:inline-block; text-align:left; }
#header nav h1 a { font-family:'Raleway','Malgun Gothic',sans-serif; font-weight:200; color:#eee; line-height:.8em; }
#header nav h1 a:hover { color:#eee; }
#header nav .topnav  { position:absolute; top:18px; right:0; z-index:10; width:100%; }
#header nav .topnav ul   { float:right; }
#header nav .topnav ul li    { float:left; display:inline-block; margin:0 10px; padding:5px 0; }
#header nav .topnav ul li:last-child  { margin:0 0 0 10px; }
#header nav .topnav ul li a  { color:#eee; }
#header nav .topnav ul li a:hover  { color:#ec008c; }
#header .head_nav   { display:none; background-color:#ec008c; }
#header .head_top   { display:none; }

.side_nav	{ position:fixed; right:20px; bottom:20px; z-index:999; overflow:hidden; display:none; width:50px; }
.side_nav a	{ display:block; width:50px; height:50px; margin-bottom:2px; background:url(../images/icon_set.png) no-repeat; }
.side_nav .side_bottom	{ background-position:-470px 0; }

[class^="section_"],[class*=" section_"]{ float:left; overflow:hidden; margin:0 20px; }

.section_1  { width:720px; }
.section_2  { width:250px; }
.section_1 .title   { position:relative; overflow:hidden; padding:40px 0; border-top:2px solid #282828; color:#141414; text-align:left; }
.section_1 .title h2, .section_1 .title h3  { display:block; margin:0 0 20px; font-weight:bold; }
.section_1 .title h3.guesth3	{ padding:0 0 30px; border-bottom:1px solid #ddd; }
.section_1 .title h2 a      { font-weight:bold; color:#ec008c; }
.section_1 .title h3 a      { font-weight:bold; color:#141414; }
.section_1 .title .date { display:block; margin:-15px 0 0; font-size:.8em; }
.section_1 .title em    { font:.8em 'Raleway','Malgun Gothic',sans-serif; font-style:normal; color:#646464; vertical-align:baseline; }

.section_1 .title .admin_nav   { position:absolute; top:20px; right:0; overflow:hidden; width:126px; }
.section_1 .title .admin_nav a     { float:left; overflow:hidden; display:block; width:40px; height:40px; margin:0 1px; background-size:contain; background:url(../images/icon_set.png) no-repeat; text-indent:-9999px; opacity:.15;  }
.section_1 .title .admin_nav a:after   { content:""; display:block; clear:both; }
.section_1 .title .admin_nav a:hover   { opacity:1; }
.section_1 .title .admin_nav a.btn_tb,.section_1 .title .admin_nav a.btn_tb,:hover		{ background-position:-60px 0; }
.section_1 .title .admin_nav a.btn_mod,.section_1 .title .admin_nav a.btn_mod,:hover	{ background-position:-100px 0; }
.section_1 .title .admin_nav a.btn_del,.section_1 .title .admin_nav a.btn_del,:hover	{ background-position:-140px 0; }

.section_1 .first_thumb ul li:first-child		{ overflow:hidden; width:710px; height:300px; margin:0 5px 10px; }
.section_1 .first_thumb .fstsize a,.section_1 .first_thumb .fstsize a .thumb	{ overflow:hidden; height:300px; }
.section_1 .first_thumb .fstsize img	{ position:absolute; width:100%; height:auto; }

/* Thumbnail LIST */
.fixed_img_col   		{ overflow:hidden; margin:0 0 10px; }
.fixed_img_col ul		{ position:relative; overflow:hidden; margin:0; padding:0; border:none; *zoom:1; }
.fixed_img_col ul:after	{ content:""; display:block; clear:both; }
.fixed_img_col li		{ position:relative; float:left; overflow:hidden; width:230px; margin:0 5px 10px; background-color:#282828; }
.fixed_img_col li:hover	{ background-color:#ec008c; }
.fixed_img_col li a		{ display:block; width:100%; height:auto; }
.fixed_img_col .thumb		{ position:relative; display:block; width:100%; height:auto; }
.fixed_img_col .thumb img	{ width:100%; opacity:.5; }
.fixed_img_col .thumb #str	{ background-size:contain; }
.fixed_img_col .thumb #str	{ position:absolute; top:50%; left:50%; display:block; width:36px; height:38px; margin:-19px 0 0 -18px; background:url(../images/noimg.png) no-repeat; background-size:36px 38px; }
.fixed_img_col a strong			{ position:absolute; bottom:0; left:0; width:100%; padding:8px 15px 15px; font:.8em 'Malgun Gothic',sans-serif; font-weight:bold; color:#fff; }
.fixed_img_col a strong .elli	{ display;-webkit-box; -webkit-line-clamp:1; display:inline-block; overflow:hidden; width:100%; text-overflow:ellipsis; line-height:1.4em; word-break:nowrap; }
.fixed_img_col a strong .elli img	{ display:none; }
.fixed_img_col a strong .c_cnt	{ font-weight:normal; display:none; }
.fixed_img_col a strong p	{ display:block; padding:0; font-weight:normal; opacity:.5; }
.fixed_img_col .thumb .dno	{ display:none; }
.fixed_img_col .thumb .thumbnew  { position:absolute; top:0; right:0; width:30px; height:30px; background-color:#ec008c; color:#fff; text-align:center; line-height:30px; }
/* //Thumbnail LIST */

/* 롤오버 시 제목-작성일 노출 */
.fixed_img_col a strong	{ opacity:0; }
.fixed_img_col li:hover a strong { background-color:#ec008c; opacity:1; transition:all .5s ease; }
.fixed_img_col li:hover a strong .elli	{ display;-webkit-box; -webkit-line-clamp:1; display:inline-block; overflow:hidden; width:100%; text-overflow:ellipsis; line-height:1.4em; word-break:nowrap; }
/* //롤오버 시 제목-작성일 노출 */

/* TEXT LIST */
.fixed_txt_col   		{ overflow:hidden; margin:0 0 10px; }
.fixed_txt_col ul		{ overflow:hidden; margin:0; padding:0; border-top:1px solid #ddd; *zoom:1; }
.fixed_txt_col li		{ position:relative; margin:0; border-bottom:1px solid #ddd; }
.fixed_txt_col li a		{ display:block; padding:12px 0 0; }
.fixed_txt_col li a .thumb	{ display:none; }
.fixed_txt_col a strong			{ display:block; padding:0; font:1em 'Malgun Gothic',sans-serif; color:#282828; }
.fixed_txt_col a strong .elli	{ display:block; overflow:hidden; padding:0 45px 25px 0; }
.fixed_txt_col a strong .c_cnt	{ font-size:.7em; color:#888; vertical-align:baseline; }
.fixed_txt_col a strong .elli img	{ display:none; }
.fixed_txt_col a strong p	{ position:absolute; left:0; bottom:7px; display:block; font-size:.7em; font-weight:normal; color:#ccc; }
.fixed_txt_col a:hover strong	{ color:#ec008c; }
.fixed_txt_col ul li a .thumbnew  { position:absolute; top:0; right:0; width:20px; height:20px; background-color:#ec008c; font-size:.7em; color:#fff; text-align:center; line-height:20px; }
/* //TEXT LIST */

.section_1 #article    { position:relative; padding:0 0 50px; }
.section_1 #article .imageblock { position:relative; display:block; }
.section_1 #article .imageblock img { width:100%; }
.section_1 #article .imageblock a img { width:auto; }
.section_1 #article p b,.section_1 #article p strong	{ font-weight:bold; }

.section_1 #article .tagpage li	{ display:inline-block; margin:0 15px 15px 0; }
.section_1 #article .tagpage li:after	{ content:""; display:block; clear:both; }

.section_1 .posttag { overflow:hidden; margin-bottom:50px; font-size:1em; color:#ffc8f0; }
.section_1 .posttag span    { font:.8em 'Raleway','Malgun Gothic',sans-serif; font-weight:700; font-style:italic; color:#ec008c; letter-spacing:1px; }
.section_1 .posttag a   { font:.7em 'Malgun Gothic',sans-serif; color:#ec008c; opacity:.4; }
.section_1 .posttag a:hover { opacity:1; }

.section_1 #article .imageblock .cap1	{ width:100%; padding:5px 0 0; font-size:11px; color:#888; }
.section_1 #article blockquote	{ overflow:hidden; display:block; width:90%; margin:0 auto; padding:23px 20px 27px 80px; font-size:.8em; color:#000; background-size:contain; background:url(../images/blockquote01.png) no-repeat 20px 20px; background-color:#eee; opacity:.5; }
.section_1 #article blockquote:hover	{ background-color:#fafafa; opacity:1; }
.section_1 #article .moreless_top, .section_1 #article .moreless_bottom, .section_1 #article .moreless_fold	{ padding:5px 0; font-size:.8em; color:#0064ff; text-decoration:underline; }
.section_1 #article .moreless_bottom	{ display:none; }
.section_1 #article .moreless_content	{ overflow:hidden; margin:15px 0; padding:0 0 3px 20px; border-left:3px solid #282828; font-size:.8em; color:#222; }

.comment_count  { margin:0 0 30px; border-bottom:1px solid #ddd; }
.comment_count a    { display:inline-block; margin:10px 5px 10px 0; color:#646464; }
.comment_count a .cnt   { color:#ec008c; }
.comment_list .ul   { margin:0 0 30px; border-bottom:1px solid #ddd; }
.comment_list ul .commentLi    { position:relative; margin:0 0 10px; padding:0 0 20px 80px; min-height:100px; }
.comment_list ul .commentLi:after  { content:""; display:block; clear:both; }
.comment_list ul .commentLi .name a    { font-size:.9em; color:#222; font-weight:bold; }
.comment_list ul .commentLi .name .blogicon_bg  { position:absolute; top:0; left:0; width:64px; height:64px; border:none; border-radius:50%; background:url(../images/replyicon.gif) no-repeat; }
.comment_list ul .commentLi .name .blogicon_bg + img	{ display:block; position:absolute; top:0; left:0; z-index:10; overflow:hidden; width:64px; height:64px; border:none; border-radius:50%; }
.comment_list ul .commentLi .date      { color:#bbb; font-size:.7em; }
.comment_list ul .commentLi .control   { position:absolute; right:10px; opacity:0; }
.comment_list ul .commentLi:hover .control   { opacity:1; }
.comment_list ul .commentLi .control a { display:inline-block; width:14px; height:22px; margin:0; background-color:yellow; background-size:contain; background:url(../images/icon_set.png) no-repeat; text-indent:-9999px; }
.comment_list ul .commentLi .control a.btn_reply	{ background-position:-219px -9px; }
.comment_list ul .commentLi .control a.btn_del		{ background-position:-249px -9px; }
.comment_list ul .commentLi .cmtxt 			{ margin:0 0 10px; padding:10px 20px 10px 0; font-size:.8em; }
.comment_list ul .commentLi .cmtxt a		{ color:#222; }
.comment_list ul .commentLi .cmtxt a:hover	{ color:#ec008c; }
.comment_list ul .commentLi ul .commentLi   { position:relative; margin:0 0 1px -40px; padding:15px 20px 10px 95px; min-height:100px; background-color:#f5f5f5; }
.comment_list ul .commentLi ul .commentLi .name .blogicon_bg { top:15px; left:15px; }
.comment_list ul .commentLi ul .commentLi .name .blogicon_bg + img	{ display:block; position:absolute; top:15px; left:15px; z-index:10; overflow:hidden; width:64px; height:64px; border:none; border-radius:50%; }
.comment_list ul .commentLi ul .commentLi .cmtxt	{ padding:10px 0 0; }

#trackback		{ overflow:hidden; margin-bottom:30px; }
#trackback h3	{ margin-bottom:15px; padding:0 0 20px 10px; border-bottom:1px solid #ccc; font:.9em 'Raleway','Malgun Gothic',sans-serif; color:#282828; }
#trackback ol	{ overflow:hidden; margin-top:-16px; background-color:#282828; font:.8em 'Malgun Gothic',sans-serif; color:#ccc; }
#trackback ol li		{ padding:20px 30px 25px 30px; border-top:1px solid #555; }
#trackback ol li:first-child	{ border:none; }
#trackback ol li h4 	{ display:block; font:1.2em 'Malgun Gothic',sans-serif; color:#ccc; font-weight:bold; line-height:2em; }
#trackback ol li h4 a, #trackback ol li a	{ color:#fff; }
#trackback ol li span		{ letter-spacing:1px; }
#trackback ol li span.name	{ color:#fff; font-weight:600; }
#trackback ol li p	{ margin-top:11px; padding-top:5px; border-top:1px dashed #555; }

.reply_write .pst  { position:relative; margin-bottom:10px; }
.reply_write .guestsubmit  { margin-bottom:50px; padding-bottom:50px; border-bottom:1px solid #ddd; }
.reply_write .secret    { position:relative; left:0; color:#646464; line-height:1.4em; }
.reply_write .name, 
.reply_write .password, 
.reply_write .homepage  { font-size:12px; color:#646464; width:100%; padding:8px 10px 8px 80px; border:1px solid #ddd; }
.reply_write label      { font-size:.8em; }
.reply_write label      { position:absolute; top:0; left:15px; width:70px; color:#ccc; line-height:30px; }
.reply_write textarea   { width:100%; padding:8px 10px 8px 10px; border:1px solid #ddd; font-size:12px; color:#222; }
.reply_write .submit    { display:inline-block; font:1em 'Raleway','Malgun Gothic',sans-serif; font-weight:600; color:#fff; padding:10px 25px; border:none; border-radius:3px; background-color:#282828; cursor:pointer; text-align:center; }
.reply_write a:hover    { background-color:#ec008c; }
.reply_write div input:focus,.reply_write div textarea:focus, .section_2 .sidebox form input:focus{ border:1px solid #ec008c; }
.reply_write div input:focus,.reply_write div textarea:focus, .section_2 .sidebox form input:focus{
	-webkit-transition:border-color .5s;
	-moz-transition:border-color .5s;
	transition:border-color .5s;
}

.protected p	{ margin-bottom:15px; }
.protected .pst			{ position:relative; margin-bottom:10px; }
.protected label		{ font-size:.8em; }
.protected label		{ position:absolute; top:0; left:15px; width:70px; color:#ccc; line-height:30px; }
.protected .password	{ font-size:12px; color:#646464; width:100%; padding:8px 10px 8px 80px; border:1px solid #ddd; }
.protected .submit		{ display:inline-block; font:1em 'Raleway','Malgun Gothic',sans-serif; font-weight:600; color:#fff; padding:10px 25px; border:none; border-radius:3px; background-color:#282828; cursor:pointer; text-align:center; }

#paging	{ margin:0 0 60px; padding:0; font-size:.8em; text-align:center; cursor:default; }
#paging .prev { margin:0 10px 0 0; }
#paging .next { margin:0 0 0 10px; }
#paging .prev:before { content:"PREV" }
#paging .next:before { content:"NEXT" }
#paging .no-more-prev,
#paging .no-more-next { cursor:default; color:#ccc; }
#paging .no-more-prev:hover,
#paging .no-more-next:hover { color:#ccc; }
#paging .selected { font-weight:600; color:#ec008c; }

/* BLOG PROFILE BOX */
.sidebox    { margin-bottom:35px; }
.blogimg_box    { margin-bottom:20px; padding:35px 20px 30px; background-color:#f5f5f5; text-align:center; }
.blogimg_box .imgbox        { overflow:hidden; width:160px; height:160px; margin:0 auto 17px; border:none; border-radius:50%; }
.blogimg_box .imgbox img    { max-width:100%; border:none; }
.blogimg_box .blog_name     { display:block; font:.9em 'Raleway','Malgun Gothic',sans-serif; font-weight:700; color:#282828; letter-spacing:2px; line-height:1.5em; text-transform:uppercase; }
.blogimg_box .blog_comment  { display:block; margin-bottom:50px; font:.8em 'Malgun Gothic',sans-serif; letter-spacing:2px; line-height:1.5em; }
/* //BLOG PROFILE BOX */

body form input[type="text"],body .form input[type="text"],body form input[type="password"],
body .form input[type="password"],body form input[type="date"],body .form input[type="date"],
body form input[type="datetime"],body .form input[type="datetime"],body form input[type="email"],
body .form input[type="email"],body form input[type="number"],body .form input[type="number"],
body form input[type="search"],body .form input[type="search"],body form input[type="tel"],
body .form input[type="tel"],body form input[type="time"],body .form input[type="time"],
body form input[type="url"],body .form input[type="url"],body form select,body .form select,
body form textarea,body .form textarea  {
    display:inline-block;
    width:100%;
    padding:.75em;
    margin:.1em 0 .25em 0;
    font-size:.8em;
    font-family:inherit;
    border:1px solid #ddd;
    background-color:#fff;
    color:#646464;
}
/* Social box */
.blogimg_box .social    { padding:30px 0 0; border-top:1px solid #e8e8e8; }
.blogimg_box .social ul { width:100%; margin:0 auto; text-align:center; }
.blogimg_box .social li { display:inline-block; box-pack:center; -moz-box-orient:horizontal; width:40px; height:40px; margin:0 auto; border:none; border-radius:50%; background-color:#fff; }
.blogimg_box .social li a       { display:block; overflow:hidden; width:40px; height:40px; background-size:contain; background:url(../images/icon_set.png) no-repeat; text-indent:-9999px; opacity:.15; }
.blogimg_box .social li a:hover	{ opacity:1; }

.blogimg_box .social li a.entypo-github,.blogimg_box .social li a.entypo-github:hover		{ background-position:0 -50px; }
.blogimg_box .social li a.entypo-flickr,.blogimg_box .social li a.entypo-flickr:hover		{ background-position:-40px -50px; }
.blogimg_box .social li a.entypo-vimeo,.blogimg_box .social li a.entypo-vimeo:hover			{ background-position:-80px -50px; }
.blogimg_box .social li a.entypo-twitter,.blogimg_box .social li a.entypo-twitter:hover		{ background-position:-120px -50px; }
.blogimg_box .social li a.entypo-facebook,.blogimg_box .social li a.entypo-facebook:hover	{ background-position:-160px -50px; }
.blogimg_box .social li a.entypo-gplus,.blogimg_box .social li a.entypo-gplus:hover			{ background-position:-200px -50px; }
.blogimg_box .social li a.entypo-pinterest,.blogimg_box .social li a.entypo-pinterest:hover	{ background-position:-240px -50px; }
.blogimg_box .social li a.entypo-tumblr,.blogimg_box .social li a.entypo-tumblr:hover		{ background-position:-280px -50px; }
.blogimg_box .social li a.entypo-linkedin,.blogimg_box .social li a.entypo-linkedin:hover	{ background-position:-320px -50px; }
.blogimg_box .social li a.entypo-dribbble,.blogimg_box .social li a.entypo-dribbble:hover	{ background-position:-360px -50px; }
.blogimg_box .social li a.entypo-instagram,.blogimg_box .social li a.entypo-instagram:hover	{ background-position:-400px -50px; }
.blogimg_box .social li a.entypo-rss,.blogimg_box .social li a.entypo-rss:hover				{ background-position:-440px -50px; }
.blogimg_box .social li a.entypo-youtube,.blogimg_box .social li a.entypo-youtube:hover		{ background-position:-480px -50px; }
/* //Social box */

/* Tistory Menu */
.t_menu_area	{ overflow:hidden; margin-top:-10px; border-bottom:1px solid #ddd; text-align:center; }
.t_menu_area a	{ display:inline-block; padding:7px 10px 17px; font-size:.7em; color:#ccc; letter-spacing:1px; }
/* //Tistory Menu */

/* NEWS LIST */
.sidebox h3 { display:block; margin-bottom:11px; padding-bottom:10px; border-bottom:1px solid #141414; font:1.1em 'Raleway','Malgun Gothic',sans-serif; font-weight:600; color:#141414; }
.sidebox .newslist, .sidebox .tagcloud, .sidebox .categorylist      { overflow:hidden; padding-bottom:16px; border-bottom:1px solid #ddd; }
.sidebox .newslist li, .sidebox .tagcloud li    { display:block; padding:4px 0; font-size:.8em; }
.sidebox .newslist li a, .sidebox .tagcloud li a    { display:block; color:#646464; }
.sidebox .newslist li a:hover, .sidebox .tagcloud li a:hover { color:#ec008c; }
.sidebox .tagcloud li  { display:inline-block; }
.sidebox .tagcloud li .accent   { color:#ec008c; }
/* //NEWS LIST */

/* CATEGORY */
.sidebox .categorylist ul li a	{ display:none; }
.sidebox .categorylist ul li ul li    { display:block; padding:4px 0 15px; font-size:.9em; font-weight:bold; }
.sidebox .categorylist ul li ul li a  { display:block; color:#141414; }
.sidebox .categorylist ul li ul li a:hover  { color:#ec008c; }
.sidebox .categorylist ul li ul li ul li	{ display:block; padding:4px 0 4px 10px; font-size:.9em; font-weight:normal;}
.sidebox .categorylist ul li ul li ul li:first-child  { padding-top:8px; }
.sidebox .categorylist ul li ul li ul li a     { color:#646464; }

.sidebox .open ul li ul .close	{ background-size:contain; background:url(../images/arrow_category_down.gif) no-repeat 97% 11px; }
.sidebox .open ul li ul .open	{ background-size:contain; background:url(../images/arrow_category_up.gif) no-repeat 97% 11px; }
.sidebox .open ul li ul .close ul	{ display:none; }
.sidebox .open ul li ul .open ul	{ display:block; }
/* //CATEGORY */

/* FOOTER */
.footer { background-color:#282828; min-height:170px; text-align:left; }
.footer .bottomnav	{ width:1010px; margin:0 auto; padding-top:35px; }
.footer .bottomnav:after	{ content:""; display:block; clear:both; }
.footer .bottomnav li	{ overflow:hidden; float:left; width:30px; height:30px; margin:0 5px 0 0; }
.footer .bottomnav li a			{ overflow:hidden; display:block; width:30px; height:30px; background-size:contain; background:url(../images/icon_set.png) no-repeat; text-indent:-9999px; opacity:.5; }
.footer .bottomnav .tistory a	{ background-position:0 -90px; }
.footer .bottomnav .setting a	{ background-position:-40px -90px; }
.footer .bottomnav .login a		{ background-position:-80px -90px; }
.footer .bottomnav li a:hover	{ opacity:1; }

.footer .copyright  { width:1010px; margin:0 auto; padding-top:15px; font:.85em 'Raleway','Malgun Gothic',sans-serif; font-weight:400; letter-spacing:1px; }
.blogger, .designed-by  { overflow:hidden; display:inline-block; height:100%; text-overflow:ellipsis; white-space:nowrap; cursor:pointer; }
.blogger, .designed-by  { color:#989898; }
.blogger    { max-width:160px; }
.blogger:before { content:"blogger " }
.designed-by:before { content:"designed by " }
.blogger:after, .designed-by:after  { content:"." }
/* //FOOTER */

#close  { position:fixed; z-index:95; top:0; left:0; display:none; width:100%; height:100%; background-color:#282828; opacity:.75; cursor:default; }
#tistoryProfileLayer div { -webkit-box-sizing:content-box; -moz-box-sizing:content-box; -ms-box-sizing:content-box; -o-box-sizing:content-box; box-sizing:content-box; }

@media only screen and (min-width: 1200px){
    #wrap{ width:1250px; }
    #header nav{ width:1200px; }
    [class^="section_"],[class*=" section_"]{ margin:0 25px; }
    .section_1{ width:900px; }
    .section_2{ width:250px; }
    .footer .copyright, .footer .bottomnav  { width:1200px; }
	.section_1 .first_thumb ul li:first-child		{ width:890px; height:380px; }
	.section_1 .first_thumb .fstsize a,.section_1 .first_thumb .fstsize a .thumb	{ width:890px; height:380px; }
	.fixed_img_col li,.fixed_img_col .thumb, .fixed_img_col li a	{ width:290px; }
    .fixed_img_col .thumb img	{ width:100%; opacity:.5; }
	.fixed_img_col .thumb #str	{ width:60px; height:64px; margin:-32px 0 0 -30px; background-size:60px 64px; }
}
@media only screen and (min-width: 768px) and (max-width: 959px){
    #wrap{ width:768px; }
    #header  { margin:0 0 30px; padding:30px 0 0; }
    #header nav{ width:730px; }
    #header nav h1   { width:100%; text-align:center; font-size:2.2em; }
    #header nav .topnav  { top:50px; }
    #header nav .topnav ul       { float:none; }
    #header nav .topnav ul li    { float:none; display:box; box-pack:center; margin:0 10px; padding:5px 0; }
    #header nav .topnav ul li a  { font-size:.8em; }
    [class^="section_"],[class*=" section_"]{margin:0 15px;}
    .section_1{width:480px;}
    .section_2{width:220px;}
	.section_1 #article iframe	{ max-width:100%; max-height:auto !important; }
	.section_1 .first_thumb ul li:first-child		{ width:470px; height:200px; }
	.section_1 .first_thumb .fstsize a,.section_1 .first_thumb .fstsize a .thumb	{ overflow:hidden; height:200px; }
    .footer .copyright, .footer .bottomnav  { width:768px; }
    .blogimg_box .imgbox        { width:100px; height:100px; }
    .blogimg_box .blog_name     { font-size:.8em; letter-spacing:1px; }
    .blogimg_box .blog_comment  { font-size:.7em; letter-spacing:1px; margin-bottom:30px; }
}
@media only screen and (max-width: 767px){
    #wrap{ width:100%; padding-top:45px; }
    #header  { position:fixed; z-index:1000; margin:0 0 30px; padding:5px 0 5px; background-color:#282828; opacity:.85; }
    #header nav      { position:relative; width:100%; height:35px; padding:0; }
    #header nav h1   { width:100%; text-align:center; font-size:1em; letter-spacing:1px; }
    #header nav h1 a { display:block; padding:10px 0; font-weight:600; line-height:1.2em; }
    
    #header nav .topnav  { position:relative; top:40px; left:0; overflow-x:auto; overflow-y:hidden; height:0px; background-color:#ec008c; -webkit-overflow-scrolling:touch; }
    #header nav .topnav ul  { float:none; height:45px; margin:0; padding:7px 10px 0;  }
    #header nav .topnav ul li   { float:left; display:box; box-pack:start; margin:0 3px; padding:10px 5px 10px; }
    #header nav .topnav ul li:last-child  { margin:0 0 0 3px; }
    #header nav .topnav ul li a,#header nav .topnav ul li a:hover  { padding:10px 5px; font-size:.75em; color:#eee; }
    
    #header nav .inertia ul { -webkit-animation:none; animation:none; }
    
    #header nav .topnav-open { top:40px; height:45px; opacity:1; }
    #header nav .topnav {
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
    
    html.scroll #header	{ -webkit-transition:none; -moz-transition:none; -ms-transition:none; -o-transition:none; transition:none; }
    html.topnav-open #close { display:block; }
    
    #header .head_nav       { position:absolute; top:-5px; left:0; z-index:1000; overflow:hidden; display:block; width:50px; height:45px; }
	#header .head_nav a		{ display:block; width:50px; height:45px; }
	#header .head_nav a span			{ display:block; width:50px; height:45px; background-size:contain; background:url(../images/icon_set.png) no-repeat; }
    #header .head_nav a .entypo-menu	{ background-position:-280px 0; }
	#header .head_nav a .entypo-close	{ background-position:-330px 0; }
	
    #header .head_top       { position:absolute; top:-5px; right:0; z-index:100; overflow:hidden; display:block; width:50px; height:45px; }
    #header .head_top a .entypo-up     { display:block; width:50px; height:45px; background-size:contain; background:url(../images/icon_set.png) no-repeat -380px 0; }
    
	.side_nav	{ right:0; bottom:0; width:0; height:0; }
	
    .section_1 .title h3    { font-size:2em; letter-spacing:-1px; }
    .section_1 .admin_nav   { position:relative; margin:0 0 10px; }
    .section_1 .admin_nav a     { overflow:hidden; display:block; width:40px; height:40px; margin:0 1px; border:none; border-radius:50%; background-color:#ddd; color:white; text-align:center; line-height:40px;  }
    .section_1 .admin_nav a span    { display:block; text-indent:-9999px; }
    
	.section_1 #article iframe	{ max-width:100%; max-height:auto !important; }
	.section_1 #article blockquote	{ width:100%; padding:15px 15px 15px 45px; background-size:25px 25px; background-position:12px 12px; background-color:#fafafa; opacity:1; }
	
	.section_1 .first_thumb ul li:first-child		{ width:100%; height:100%; margin:0; }
	.section_1 .first_thumb .fstsize a,.section_1 .first_thumb .fstsize a .thumb	{ overflow:hidden; }
	
	.fixed_img_col li		{ width:50%; margin:0; }
    .fixed_img_col .thumb img	{ width:100%; opacity:.5; }
	.fixed_img_col a strong  { display:none; }
	.fixed_img_col .thumb .thumbnew  { width:20px; height:20px; font-size:.7em; line-height:20px; }
	.fixed_img_col .thumb #str	{ width:30px; height:32px; margin:-16px 0 0 -15px; background-size:30px 32px; }
    
    [class^="section_"],[class*=" section_"]{ float:none !important; width:90%; margin:0 auto 20px; }
    .footer { min-height:80px; }
    .footer .bottomnav  { width:100%; padding:20px 20px 0; letter-spacing:0; }
    .footer .copyright  { width:100%; padding:15px 20px 20px; letter-spacing:0; }
    
    .section_1 .title   { padding:30px 0; border:none; }
	.section_1 .title h3.guesth3	{ padding:0 15px; border:none; }
    .section_1 #article { padding:0 0 20px; }
    .section_1 #article img { max-width:100%; margin:auto; }
    .section_1 .posttag { margin-bottom:20px; font-size:1.3em; }
    
    .comment_list .ul   { margin:0 0 20px; border-bottom:1px solid #ddd; }
    .comment_list ul .commentLi    { padding:0 0 20px; }
    .comment_list ul .commentLi:after  { content:""; display:block; clear:both; }
    .comment_list ul .commentLi .name a    { font-size:1em; color:#222; font-weight:bold; }
    .comment_list ul .commentLi .name .blogicon_bg  { display:none; }
	.comment_list ul .commentLi .name .blogicon_bg + img	{ display:none; }
    .comment_list ul .commentLi .date      { color:#bbb; font-size:1em; }
    .comment_list ul .commentLi .control   { position:absolute; right:10px; opacity:1; }
    .comment_list ul .commentLi .control i { font-style:normal; }
    .comment_list ul .commentLi .cmtxt { padding:10px 15px 15px 0; font-size:.9em; }
	.comment_list ul .commentLi .cmtxt a	{ color:#ec008c; }
    .comment_list ul .commentLi ul .commentLi   { position:relative; margin:0 0 1px; padding:10px 20px 10px 30px; min-height:100px; background-color:#f5f5f5; }
	.comment_list ul .commentLi ul .commentLi .name .blogicon_bg { display:none; }
	.comment_list ul .commentLi ul .commentLi .name .blogicon_bg + img	{ display:none; }
    
    .reply_write label      { font-size:.9em; }
    .reply_write .submit    { font-size:1em; width:100%; }
    
    .blogimg_box .blog_comment  { margin-bottom:30px; }
    .blogimg_box .social li a   { line-height:40px; }
    
    .section_2  { padding:0; }
    .sidebox h3 { font-size:1.4em; }
    .sidebox .newslist li, .sidebox .tagcloud li  { font-size:1.0em; }
    .sidebox .categorylist ul li  { font-size:1.1em; }
	.sidebox .open ul li ul .close	{ background-size:11px 6px; background:url(../images/arrow_category_down.gif) no-repeat 99% 11px; }
	.sidebox .open ul li ul .open	{ background-size:11px 6px; background:url(../images/arrow_category_up.gif) no-repeat 99% 11px; }
    
    body form input[type="text"],body .form input[type="text"],body form input[type="password"],
    body .form input[type="password"],body form input[type="date"],body .form input[type="date"],
    body form input[type="datetime"],body .form input[type="datetime"],body form input[type="email"],
    body .form input[type="email"],body form input[type="number"],body .form input[type="number"],
    body form input[type="search"],body .form input[type="search"],body form input[type="tel"],
    body .form input[type="tel"],body form input[type="time"],body .form input[type="time"],
    body form input[type="url"],body .form input[type="url"],body form select,body .form select,
    body form textarea,body .form textarea  { font-size:1em; }
}
@media only screen and (min-width: 290px) and (max-width: 420px){
    body    { font-size:.9em !important; }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
    #wrap{ width:100%; margin:0 auto; }
    [class^="section_"],[class*=" section_"]{ float:none !important; width:90%; margin:0 auto 20px; }
    .footer .copyright, .footer .bottomnav  { width:90%; padding:20px; }
    .footer .bottomnav  { width:90%; padding:20px 20px 0; }
    .footer .copyright  { width:90%; padding:15px 20px 20px; }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .footer .bottomnav li a,.blogimg_box .social li a,.section_1 .title .admin_nav a,.comment_list ul .commentLi .control a,#header .head_nav a span,#header .head_top a .entypo-up{ background-image:url(../images/icon_set_2x.png); background-size:520px 120px; }
	.section_1 #article blockquote	{ background:url(../images/blockquote01.png) no-repeat 12px 12px; background-size:25px 25px; background-color:#fafafa; opacity:1; }
	.sidebox .open ul li ul .close	{ background:url(../images/arrow_category_down_2x.gif) no-repeat 99% 11px; background-size:11px 6px; }
	.sidebox .open ul li ul .open	{ background:url(../images/arrow_category_up_2x.gif) no-repeat 99% 11px; background-size:11px 6px; }
}
/* ----------------------------------------------------------------------------------------------------------------- */

table{width:100%;margin:1em 0;border-spacing:.1em;}
table td,table th{padding:.5em .5em}
.clear{clear:both;}
.none{display:none;}
.imageblock{max-width:100%;}
.imageblock img{width:100%;height:auto;}
.accent   { color:#ec008c; }
::selection{color:white;background:#ec008c;}
::-moz-selection{color:white;background:#ec008c;}
